<nav>
    <a href="{{ path('app_default') }}" class="nav-logo">Vesuvio</a>

    <div class="d-flex justify-content-center align-items-center">

        <div class="dropdown">

            <button class="user_icon_navigation" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-circle-user text-white fa-xl"></i>
            </button>
            <ul class="dropdown-menu">
                {% if app.user %}
                <a href="{{ path('app_order_history') }}" class="dropdown-item my-0 py-0 username">{{ app.user.username }}</a>
                    <hr class="my-1">
                {% endif %}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VERZENDING') or is_granted('ROLE_MAGAZIJN') or is_granted('ROLE_MANAGEMENT') %}
                    <a href="{{ path('app_admin') }}" class="dropdown-item">admin</a>
                {% endif %}

                {% if app.user %}
                    {% if app.request.attributes.get('_route') != 'app_order_history' %}
                        <li><a href="{{ path('app_order_history') }}" class="dropdown-item">mijn bestellingen</a></li>
                    {% endif %}
                {% endif %}

                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}" class="dropdown-item">uitloggen</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}" class="dropdown-item">inloggen</a></li>
                {% endif %}
            </ul>
        </div>

        <a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
           aria-controls="offcanvasRight" class="cart"><i
                    class="fa-solid fa-cart-shopping cart-icon text-white mx-3"><span
                        class="counter"
                        id="cart-counter"></span></i></a>
    </div>

</nav>

<!-- Shopping cart -->
<div class="offcanvas offcanvas-end shopping_cart_sidebar" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasRightLabel">Winkelwagen</h2>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="cart offcanvas-body d-flex flex-column justify-content-between">

        <!-- added products -->
        <div id="cart-content">
        </div>

        <div>
            <p id="total-price"></p>
            {% if app.request.get('_route') == "app_order" %}
                <a href="{{ path('app_order') }}">Wijzig bestelling</a>
            {% else %}
                <a href="{{ path('app_order') }}">Naar bestellen <i
                            class="fa-solid fa-arrow-right mx-1"></i></a>
            {% endif %}
        </div>

    </div>
</div>
