{% extends 'base.html.twig' %}

{% block body %}
    <div class="container order_history px-3">

        <h1 class="mt-4 mb-3">Bestelgeschiedenis</h1>

        <p class="welcome_user_text">Welkom, {{ app.user.username }} &#x1F44B;</p>

        {% if orders is empty %}
            <p>Je hebt nog geen bestellingen geplaatst.</p>
        {% else %}
            <!-- flash message -->
            <div class="table-responsive mt-4 mb-5 order_history_table">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Bestelnummer</th>
                        <th>Bedrijfsnaam</th>
                        <th>Ontvanger</th>
                        <th>Land</th>
                        <th>E-mail</th>
                        <th>Telefoonnummer</th>
                        <th>Postcode</th>
                        <th>Huisnummer</th>
                        <th>Stad</th>
                        <th>Straatnaam</th>
                        <th>Bezorgdatum</th>
                        <th>Bestelde producten</th>
                        <th>Totale prijs</th>
                        <th>Besteld op</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders|reverse %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.getCompanyName }}</td>
                            <td>{{ order.recipidient }}</td>
                            <td>{{ order.country }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.phoneNr }}</td>
                            <td>{{ order.postcode }}</td>
                            <td>{{ order.huisnummer }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.straatnaam }}</td>
                            <td>{{ order.date ? order.date|date('Y-m-d') : '' }}</td>
                            <td>
                                {% for orderItem in order.getOrderItems() %}
                                    <p class="order_history_list">{{ orderItem.item }}</p>
                                {% endfor %}
                            </td>
                            <td>€{{ order.getOrderItems()|map(item => item.price)|reduce((total, price) => total + price, 0)|number_format(2, '.', ',') }}</td>
                            <td>{{ order.getOrderedAt() ? order.getOrderedAt()|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
