    {% extends 'base.html.twig' %}

    {% block body %}

        <div class="container my-4 order_page">
            <h1 class="text-center mb-2">Bestelling</h1>
            <p class="text-center fw-light mb-5 px-2">Het wijzigen van je bestelling kan in de winkelwagen</p>
            <div id="order-list"></div>
            <p id="empty_cart" style="text-align: center; margin: 10px 0; color: #0a0a0a"></p>
            <p id="total-price-order" class="text-center my-5 totalPrice"></p>

            {% for message in app.flashes('order_empty') %}
                <div class="alert alert-danger" style="max-width: 400px; margin: 25px auto; text-align: center;">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error_login') %}
                <div class="alert alert-danger" style="max-width: 400px; margin: 25px auto; text-align: center;">
                    {{ message }}
                </div>
            {% endfor %}

            <form method="post" action="{{ path('app_order') }}" class="mx-auto my-5 order_form">
                <h2>Vul hier je gegevens in</h2>
                {{ form_start(form) }}
                <!-- Hidden field to submit JSON data -->
                <input type="hidden" id="cartData" name="cartData" value="">
                {{ form_row(form.company_name) }}
                {{ form_row(form.recipidient) }}
                {{ form_row(form.country) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phoneNr) }}
                {{ form_row(form.postcode) }}
                {{ form_row(form.huisnummer) }}
                {{ form_row(form.city) }}
                {{ form_row(form.straatnaam) }}
                {{ form_row(form.date) }}
                <button type="submit" id="place-order-button" class="placeOrderBtn">Plaats bestelling</button>
                {{ form_end(form) }}
            </form>
        </div>

        <script>
            // postcode api
            $(document).ready(function() {
                $('.postcode, .huisnummer').change(function() {
                    const postcode = $('.postcode').val();
                    const huisnummer = $('.huisnummer').val();

                    $.ajax({
                        url: 'https://postcode.tech/api/v1/postcode',
                        method: 'GET',
                        dataType: 'json',
                        headers: {
                            'Authorization': 'Bearer 09c4c3cf-fc62-4ad2-9bcc-f6ebb46fbf36'
                        },
                        data: {
                            postcode: postcode,
                            number: huisnummer
                        },
                        success: function(response) {
                            console.log('API Response:', response);

                            let city = document.querySelector('.city');
                            let street = document.querySelector('.straatnaam');

                            if (street) {
                                city.value = response.city;
                                street.value = response.street;
                            } else {
                                console.error('Element not found.');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('API Error:', error);
                        }
                    });
                });
            });
        </script>
    {% endblock %}