{% extends 'base.html.twig' %}

{% block body %}

    <div class="container product_page">

        <div class="my-3 col-12 mx-auto product_card" data-aos="fade-up" data-aos-duration="1000">
            <div class="d-block d-md-flex">
                <img src="{{ asset('product_imgs/' ~ product.image_file) }}"
                     alt="{{ product.name }}" class="product_img_vervolgpagina">
                <div class="d-flex flex-column mt-4 mt-md-5">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.description }}</p>
                    <p>{{ product.info2 | raw }}</p>
                </div>
            </div>

            <div class="d-flex flex-column mt-3">
                <p>{{ product.info | raw }}</p>
                <p class="fw-semibold">{{ product.quantity }}</p>
                <div class="mt-auto card_div">
                    <p class="fw-semibold price">€ {{ product.price }}</p>
                    <button class="add_btn" data-product-id="{{ product.id }}"
                            data-name="{{ product.name }}" data-price="{{ product.price }}"><i
                                class="fa-solid fa-cart-shopping"></i> Plaats in winkelwagen
                    </button>
                </div>
            </div>
            <img src="{{ asset('assets/images/page/payment-methods.png') }}" class="payments_methods">
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const button = document.querySelector('.add_btn');
            const icon = button.querySelector('i');
            const btnText = document.querySelector('.btn-text');

            button.addEventListener('click', function () {
                icon.classList.replace('fa-cart-shopping', 'fa-check-circle');
                setTimeout(() => {
                    icon.classList.replace('fa-check-circle', 'fa-cart-shopping');
                }, 500);
            });
        });
    </script>
{% endblock %}
